/* CSS Document- Scope 6 & 7 use this Stylesheet: updated 071129 lee */

body, div, span, p, form, .qs, h1, h2, h3, ul, ol, li, a,  ,th, select, input, textarea {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #000000;
}
	
body {
		background-color: #ffffff;
		color: #000000; 
		margin: 0;
		text-align: center;
}
	
a, a:visited { color: #003399; }
	
h2 {
		font-face: Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #000000;
		margin: 3px 3px;
}
	
h3 {  font-face: Arial, Helvetica, sans-serif; font-size: 10px; color: #003399; margin: 3px 3px; }
	
h4 { font-size: 14px; color: #003399; }
b { font-weight: bold;}
i { font-style: normal;}
.center { text-align: center; }
.right { text-align: right; }
.box { margin: 20px auto 10px; width: 770px; position: relative; }
	
div.searchPage {
		margin: 20px auto 10px;
		width: 400px;
		position: relative;
		text-align: left;
}
	
div.box { text-align: left; }
.box  { border: 2px solid #003399; }
 p { margin: .5em 0px 1em 0px; }
.box p a { text-decoration: none; color: #003399; }
.boxHead {
		position: relative;
		background-color: #003399;
		color: #ffffff;	
}
		
.boxHead span { padding: 0px 0px 0px 350px; }
.boxHead h2, .boxHead a, .boxHead a:visited {
		color: #ffffff;
		display: inline;
}
	
.boxHead a {
		font-size: 11px;
		padding: 0px 0px 0px 10px;
}
	
div.boxHead {
		padding: 2px 2px 2px 2px;
		margin: 0;	
}
	
.qs {
		font-size: 10px;
		color: #000000;
		padding-top: 3px;
		margin: 0;
		text-align: right;
		background-color: #dddddd;
		width: 100%;
}
	
.qs span { padding: 0px 5px; }
.small { FONT-SIZE: 11px; }
	
.big {
		FONT-SIZE: 12px; 
		COLOR: #ffffff;
		BACKGROUND-COLOR: #003399;
}
	
.bodystyle {
		FONT-SIZE: 12px; 
		FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
	
.smaller {
		FONT-SIZE: 10px; 
		FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
	
.smaller_reversed {
		FONT-SIZE: 11px;
		COLOR: #ffffff;
		FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
	
.smaller_reversed_nodecoration, span.smaller_reversed_nodecoration a, span.smaller_reversed_nodecoration a song, 
  span.smaller_reversed_nodecoration a:visited {
		FONT-SIZE: 10px;
		COLOR: #ffffff;
		FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
		text-decoration: none;
}
	
span.smaller_reversed_nodecoration a song { font-size: 11px; }
	
/* MOSL STYLES */
body, div,  { font-family: verdana; font-size: 12px; border-collapse: separate; border: none;}
  { border: none; }
#search_q, #search_g {text-align: middle;}
	
#moslMenu {
		background-color: #ffffff;
		color: #003399;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 70%;
		font-size:11px;
		margin: 1px;
		margin-top: 3px;
		padding-bottom:4px;
		padding: 0px 0px 2px 0px;
}
	
#moslMenu span {
		padding-top: 3px;
		background-color: #fff;
		padding: 1px;
		border: 1px solid #003399;
}
	
#moslMenu a {
		color: #003399;
		background-color: #fff;
		padding: 0px 3px;
		margin: 1px 0px;
		text-decoration: none;
}
	
#moslMenu a.big {
		font-weight: bold;
		text-ansform: uppercase;
}
	
/* MODOT STYLES */
body { min-width: 600px; /* 2x LC width + RC width */ }
	
div#container {
	  padding-left: 300px;   /* LC width */
	  padding-right: 300px;  /* RC width */
}
	
div#container .column {
	  position: relative;
	  float: left;
}
	
div#center {
	  width: 100%;
	  text-align: center;
}
	
div#left {
	  width: 300px;          /* LC width */
	  right: 300px;          /* LC width */
	  margin-left: -100%;
}
	
div#right {
	  width: 300px;          /* RC width */
	  margin-right: -300px;  /* RC width */
	  text-align: right;
}
	
#modotMenu {/* modotMenu replaces #footer in alistapart.com code*/
	  clear: both;
		color: #003399;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 70%;
		margin: 1px;
		padding: 4px 0px 2px 0px;
		border: none;
		text-align: center;
}	
	
/*** IE6 Fix ***/
* html div#center {
		margin: 0px;
		padding-left: 150px;
		padding-right: 150px;
		width: 100px;
}
	
* html div#left {
	  margin: 0px;
	  margin-right: -100%;
	  left: -70%;
	  width: 300px;        
}
	
*html div#right {
		display: inline;
		margin-left: -5%;
}
	
/*.branding {
		vertical-align: top;
		padding-left: 10px;  
		padding-top: 4px; 
		padding-bottom: 4px;
		text-align: left;
}*/
	
#modotMenu span {
		background-color: #fff;
		padding: 1px;
		border: none;
}
	
#modotMenu a {
		color: #003399;
		background-color: #fff;
		padding: 0px 3px;
		margin: 1px 0px;
		text-decoration: none;
}
	
#modotMenu a.big {
		font-weight: bold;
		text-ansform: uppercase;
}
	
#modotFooter img {
		margin-right: 20px;
		margin-left: 20px; 
		padding-top:  10px;
		vertical-align: top;
}
.navigationRow { text-align: center; }
	
/***************************  III ENIES  *******************************/ 
	
/*	AUTHORITY REDIRECTION CLASSES */
/*.authTerm
.authTerm { }
.unauthTerm { } */
	
/*	BOOKINGS DISPLAY CLASSES */
/*available { }
bookingsConfirmMsg { }
bookingsItemEny { }
bookingsItemHeader { }
bookingsLegend { }
bookingsLocation { }
bookingsSelect { }
bookingsSelectCal { }
bookingsSelectTime { }
closed { }
main { }
unavailable { } */
	 
/* BRIEF CITATION DISPLAY CLASSES */ 
.briefCit { border: 1px solid #000000; }
.briefCiow {  color: #000000; font-weight: normal; }
.briefCitTitle { }
.briefCitStatus { font-weight: bold; }
.briefCitCall { padding-left: .2em; font-style: italic; }
.briefCitEnyNum { padding-right: 2px; }
.briefCitCheckbox { padding-right: 2px; }
	
/* BROWSE DISPLAY CLASSES*/ 
.browseScreen { BORDER-TOP: 1px solid; BORDER-TOP-COLOR: #000000; } 
.browseWidgit { background: #FFFFFF; }
.browseWidgit { color: #000000; background: #FFFFFF; text-align: center; }
.browseSaveJump { } 
.browseSaveJump { color: #000000; background: #FFFFFF; text-align: left; }
.browseList { border-collapse:collapse; border: hidden; }
.browseList { padding: 6px; }
.browseHeader { background-color:#BFD0F7; }
.browseHeader { border-style: solid; border-color: #003399 #ccc #ccc #ccc; border-width: 2px 1px 1px 1px; }
.browseHeaderNum { border: solid 1px #ccc; }
.browseHeaderMark { border: solid 1px #ccc; }
.browseHeaderData { border: solid 1px #ccc; }
.browseHeaderMedia {  background-color: #FFFFFF; color: #FFFFFF; font-weight: bold; }
.browseHeaderYear { border: solid 1px #ccc; }
.browseHeaderEnies { background-color: #FFFFFF; color: #FFFFFF; font-weight: bold; }
.browseHeaderRelevance { background-color: #FFFFFF; color: #FFFFFF; font-weight: bold; }
.browseEny {  background-color: #FFFFFF; color: #000000; }
.browseEny { border:solid 1px #ccc; }
.browseEnyNum { text-align: center; }
.browseEnyMark { font-weight: bold; }
.browseEnyData { background-color: #FFFFFF; color: #000000; font-weight: bold; }
.browseEnyMedia { vertical-align: middle; }
.browseEnyYear { text-align: center; }
.browseEnyEnies { text-align: center; }
.browseEnyRelevance { }
.browsePager { text-align: center; }
.browseSearchTool { text-align: center; }
.browseSuperEny { background-color: #FFFFFF; color: #000000; }
.browseSubEny { background-color: #FFFFFF; color: #000000; }
.browseSubEnyData { }
.browseSubEnyMedia { }
.browseSubEnyYear { }
.browseSubEnyEnies { }
.browseSubEnyRelevance { }
	
/* BIBLIOGRAPHIC DISPLAY CLASSES */
.bibScreen { border: hidden; margin: 0px; }
.bibWidgit { }
.bibBookingsHeader { }
.bibItems { border: hidden; margin: 0px; }
.bibItems, .bibItemsHeader, .bibLinks { 
		border-collapse: collapse; 
		border-bottom: solid 1px #ccc;
		border-right: solid 1px #ccc;
}
bibItemsEny { }
.bibItemsHeader { background-color: #BFD0F7; font-weight: normal; }
bibItemsLabel { }
.bibDetail { border: hidden; margin: 0px; }

.bibLinks { 
		border-collapse: collapse; 
		border-bottom: solid 1px #ccc; 
		border-right: solid 1px #ccc; 
}
	
.bibLinks th { background-color: #BFD0F7; font-weight: normal; }
bibLicense { }
bibLicenseEny { }
bibLicenseHeader { }
.bibPager { border: hidden; margin: 0px; }
.bibInfo { border: hidden; margin: 0px; }
.bibInfo { padding: 4px; } 
.bibInfoEny { }
.bibInfoEny { }
.bibInfoLabel { }
.bibInfoData { }
bibHolds { }
bibHoldsEny { }
.bibHoldings { border-bottom: 2px; }
.bibHoldingsHeader { }
.bibHoldingsData { }
.bibHoldingsEny { }
.bibHoldingsLabel { }
bibOrder { }
bibOrderEny { } 
.bibPager { text-align: center; }
bibResource { }
bibResourceBrief { }
bibResourceCaption { }
bibResourceEny { }
bibResourceEny  { }
bibResourceHeader { }
bibResourceLicense { }
bibResourceLicenseEny
bibResourceSubEny { }
.bibResource { }
.bibResourceHeader { }
.bibResourceEny { }
.bibSearchtool { text-align: center; }
bibThumbnails { }
bibTOC { }
bibXML { }
	
/* FEATURED LISTS DISPLAY CLASSES */
/*ftlistHeader
 	Defines properties for the featured lists header.*/
	 
/* FEEDS DISPLAY CLASSES */
.rssChannelEnies { padding: 10px; }
.rssChannelEny { padding: 4px; }
.rssChannelEnyDate { font-size: 70%; font-style: italic; }
.rssChannelEnyDesc { font-size: 80%; }
.rssChannelEnyHead { font-size: 85%; font-weight: bold; display: list-item; padding-bottom: 2px; }
.rssChannelImage img { border: 0; margin-top: 2px; }
.rssChannelTitle { font-weight: bold; }
.rssFeed { padding: 5px; margin: 2px; border: 1px solid #3B6EE0; }
.topicFeeds { clear: none; float: right; width: 60%; padding: 5px; }
.topicLinks { clear: none; float: left; padding: 5px; width: 35%; }
.topicLinks ul { padding: 5px; padding-left: 20px; margin: 2px; border: 1px solid #3B6EE0; }
	
/* GENERAL CLASSES */
/*errormessage */
	 
/* GLOBAL PAON DISPLAY CLASSES */
.patDisplay { border: 1px solid #000000; }
.patDisplay { border: 1px solid #000000; }
.patDisplayFunc { border: 1px solid #000000; }
.patDisplayInfo { border: 1px solid #000000; }
patDisplayAuthor
.patInfo { }
.patImage { }
	
/* HOLDINGS DISPLAY CLASSES */
/*holdingscode { }
holdingsDivider { }*/
	
/* LIMIT/SORT DISPLAY CLASSES */
/*limitEniesFoundText { }
limitEniesFoundNum { }
limitSearchTerm { }
limitSearchTypeIndex { }
limitSearchTypeText { }*/
	 
/* PAON FUNCTION  AND FORM CLASSES */ 
.patFunc { border: 1px solid #000000; }
.patFunc { border: 1px solid #000000; } 
.patFuncBookDate { } 
.patFuncBtns { } 
.patFuncCallNo { } 
.patFuncCancel { }
.patFuncDate { } 
.patFuncEny { border: 1px solid #000000; }
.patFuncFinesDetail { }
.patFuncFinesDetailAmt { } 
.patFuncFinesDetailDate { } 
.patFuncFinesDetailDateLabel { } 
.patFuncFinesDetailType { } 
.patFuncFinesEnyDetail { border: 1px solid #000000; } 
.patFuncFinesEnyTitle { } 
.patFuncFinesTitle { border: 1px solid #000000; } 
.patFuncFinesTotal { } 
.patFuncFinesTotalAmt { }
.patFuncFinesTotalLabel { }
.patFuncHeaders { }
.patFuncMark { }
.patFuncModifyPatInfo { }
patFuncModifyPIN { }
patFuncModifyPINExample { }
patFuncNoEnies { }
patFuncPickup { }
patFuncPSrchBtn { }
patFuncPSrchType { }
patFuncRating { }
patFuncStatus { }
patFuncTitle { }
	
/* REQUEST DISPLAY CLASSES */
/*on_ice
reqFilltimeMsg */
	
	/* RESOURCE CLASSES */
.browseResource { border: solid 1px #BFD0F7; margin-top: 55px; border-width: 1px 1px 1px 1px;}
.browseResource { border: none; padding: 4px;}
.browseResourceEny { padding: 6px 2px 0px 0px;}
.browseResourceEny { }
.browseResourceHeader { background-color: #fff;  color: #003399; font-weight: bold; }
.browseResourceEny .wblinkdisplay { font-family: arial; padding: 0px 0px 0px 0px; }
.browseResourceEny .wblinkdisplay div { padding-top: 12px;}
.browseResourceEny span img { text-align: middle;}

/***********************************************************************************/ 
/* SPELLCHECK */
.spellcheckTool { font-size: medium; text-align: left; color: #333379; }
.spellcheckToolMore { font-size: 14px; }
	
/* WEBBRIDGE DISPLAY CLASSES */
/* NOTE: Only lowercase letters are allowed in the names of WebBridge display classes.*/ 
.wbbody { text-align: left; font-family: verdana; font-size: 12px;} /*div -- the resource panel body */
.wbfooter {margin-left: 25%;} /*div */
.wbbody h1 {font-size: 14px;} /*main header*/
h1 {text-align: right; margin:0px;}
h1 span#libraryHeaderText {padding-right: 400px;}
h1 span#libraryLogo, span#libraryLogo img {left: 100%; text-align: right; vertical-align: top;}
.wbresourceList {} /*div -- wraps the entire list*/
.wbcategory {background-color:#BFD0F7; margin-top: 6px; padding-top: 4px; border-style: solid; border-color: #003399 #ccc #ccc #ccc; border-width: 2px 1px 1px 1px;}
 	/*div -- wraps each category name*/
.wbpanelcategory {font-weight: bold;} /*span--spans the text of each category name*/
.wblinkdisplay { font-family: arial; padding: 6px 0px 2px 0px; border-bottom: dotted 1px #BFD0F7;;} /*div -- wraps each resource, not the buttons*/
.wblinkfield {font-weight: bold;} /*span -- spans the object description text (search terms, title, etc.), i.e. the result of the field selector*/
.wblinktext {}*/ /*span -- spans the link text*/
.wblinktext a {text-decoration: none; font-weight: bold;}
.wbheading { }
.wbsubheading { }

/* table striping styles */
/* for brief citation */
td.odd { background:#E2E2E2; }
/*td.highlight {background:#FFFFDF;}*/

/* for browse entries */
tr.odd { background:#E2E2E2; }
/*tr.highlight {background:#FFFFDF;}*/	
	
.patFuncArea { border: none; margin: 3px; text-align: left; }

.patFuncArea form { display: inline; }

.patFuncArea img { padding-top: 2px; } 
	
	 
	
