/*  arthur_styles.css updated 070827 lee  */

body, div, span, p, form, .qs, h1, h2, h3, ul, ol, li, a, td ,th, select, input, textarea
{ font-family: Verdana, Arial, Helvetica, sans-serif; }
tt, pre { font-family: "Courier New", Courier, mono, monospace; }
body, div, p, form, ul, ol, li, th, td, select, input, textarea
{ font-size: 12px; color: #000000; }
h2 { font-size: 18px; color: #000000; }
h3 { font-size: 16px; font: Arial; color: #003399; }
h4 { font-size: 14px; color: #003399; }
.qs { font-size: 10px; color: #000000; }
.blurb { font-size: 11px; font: Arial; }
hr { color: #032585; }
ul { LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: disc; }
OL { LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: decimal; }
.small { FONT-SIZE: 11px; }
.big { FONT-SIZE: 12px;  COLOR: #ffffff; BACKGROUND-COLOR: #032585; }
.bodystyle { FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; }
.smaller { FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; }
.smaller_reversed { FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; }
.smaller_reversed_nodecoration { FONT-SIZE: 11px; COLOR: #ffffff; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;text-decoration: none; }
.box1 { PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #ffffff; 
	PADDING-TOP: 3px; BACKGROUND-COLOR: #032585; }
.box2 { BORDER-RIGHT: 3px solid; PADDING-RIGHT: 5px; BORDER-TOP: 3px solid; PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 5px; BORDER-LEFT: 3px solid; PADDING-TOP: 5px; BORDER-BOTTOM: 3px solid; }
.menu { FONT-WEIGHT: bold; COLOR: #032585; BACKGROUND-COLOR: #ffffff; }
.mNote { FONT-WEIGHT: normal; COLOR: #000000; FONT-STYLE: italic; }
.navigationRow { text-align: center; }
/***********************************************************************************/ 
/*	AUTHORITY REDIRECTION CLASSES */
/*TABLE.authTerm
TR.authTerm { }
TD.unauthTerm { } */

/***********************************************************************************/ 
/*	BOOKINGS DISPLAY CLASSES */
/*.available { }
.bookingsConfirmMsg { }
.bookingsItemEntry { }
.bookingsItemHeader { }
.bookingsLegend { }
.bookingsLocation { }
.bookingsSelect { }
.bookingsSelectCal { }
.bookingsSelectTime { }
.closed { }
.main { }
.unavailable { } */

/***********************************************************************************/ 
/* BIBLIOGRAPHIC DISPLAY CLASSES */
.bibBookingsHeader
.bibDetail { border: hidden; margin: 0px; }
.bibHolds { }
.bibHoldsEntry { }
.bibHoldings { border-bottom: 2px; }
.bibHoldingsHeader { }
.bibHoldingsData { }
.bibHoldingsEntry { }
.bibHoldingsLabel { }
.bibInfo { border: hidden; margin: 0px; }
.bibInfo { padding: 4px; } 
.bibInfoEntry { }
.bibInfoEntry { }
.bibInfoLabel { }
.bibInfoData { }
.bibItems { border: hidden; margin: 0px; }
.bibItems, .bibItemsHeader, .bibLinks 
{ 
	border-collapse: collapse; 
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #ccc;
}
.bibItemsEntry { }
.bibItemsHeader { background-color: #BFD0F7; font-weight: normal; }
.bibItemsLabel { }
.bibLicense { }
.bibLicenseEntry { }
.bibLicenseHeader { }
.bibLinks { border-collapse: collapse; border-bottom: solid 1px #ccc; border-right: solid 1px #ccc; }
.bibLinks th { background-color: #BFD0F7; font-weight: normal; }
.bibOrder { }
.bibOrderEntry { }
.bibPager { border: hidden; margin: 0px; text-align: center; }
.bibResource { }
.bibResourceBrief { }
.bibResourceCaption { }
.bibResourceEntry { }
.bibResourceEntry td { }
.bibResourceHeader { }
.bibResourceLicense { }
.bibResourceLicenseEntry
.bibResourceSubEntry { }
.bibResourceTable { }
.bibResourceTableHeader { }
.bibResourceTableEntry { }
.bibScreen { border: hidden; margin: 0px; }
.bibSearchtool { text-align: center; }
.bibThumbnails { }
.bibTOC { }
.bibXML { }
.bibWidgit { }

#encoreLink img {border-style:none;}


/***********************************************************************************/ 
/* BRIEF CITATION DISPLAY CLASSES */ 
TABLE.briefCitTable { border: 1px solid #000000; }
TR.briefCitRow {  color: #000000; font-weight: normal; }
TD.briefCitTitle { }
TD.briefCitStatus { font-weight: bold; }
TD.briefCitCall { padding-left: .2em; font-style: italic; }
TD.briefCitEntryNum { padding-right: 2px; }
TD.briefCitCheckbox { padding-right: 2px; }

/***********************************************************************************/ 
/* BROWSE DISPLAY CLASSES*/ 
.browseEntry {  background-color: #FFFFFF; color: #000000; }
.browseEntry { border:solid 1px #ccc; }
.browseEntryNum { text-align: center; }
TD.browseEntryMark { font-weight: bold; }
TD.browseEntryData { background-color: #FFFFFF; color: #000000; font-weight: bold; }
TD.browseEntryMedia { vertical-align: middle; }
TD.browseEntryYear {text-align: center; }
TD.browseEntryEntries { text-align: center; }
TD.browseEntryRelevance { }
.browseHeader { background-color:#BFD0F7; }
.browseHeader { border-style: solid; border-color: #003399 #ccc #ccc #ccc; border-width: 2px 1px 1px 1px; }
.browseHeaderNum { border: solid 1px #ccc; }
.browseHeaderMark { border: solid 1px #ccc; }
.browseHeaderData { border: solid 1px #ccc; }
.browseHeaderMedia {  background-color: #FFFFFF; color: #FFFFFF; font-weight: bold; }
.browseHeaderYear { border: solid 1px #ccc; }
.browseHeaderEntries { background-color: #FFFFFF; color: #FFFFFF; font-weight: bold; }
.browseHeaderRelevance { background-color: #FFFFFF; color: #FFFFFF; font-weight: bold; }
.browseList { border-collapse:collapse; border: hidden; padding: 6px; }
.browsePager { text-align: center; }
.browseResourceTable
.browseResourceTableEntry
.browseResourceTableHeader
.browseScreen { BORDER-TOP: 1px solid; BORDER-TOP-COLOR: #000000; } 
.browseSearchtool { text-align: center; }
.browseSearchtoolMessage
.browseSaveJump { color: #000000; background: #FFFFFF; text-align: left; }
TR.browseSubEntry {  background-color: #FFFFFF; color: #000000; }
TD.browseSubEntryData { }
TD.browseSubEntryMedia { }
TD.browseSubEntryYear { }
TD.browseSubEntryEntries { }
TD.browseSubEntryRelevance { }
TR.browseSuperEntry { background-color: #FFFFFF; color: #000000; }
.browseWidgit { color: #000000; background: #FFFFFF; text-align: center; }
.marked
.yourEntryWouldBeHere
.yourEntryWouldBeHereData
 
/***********************************************************************************/ 
/* FEATURED LISTS DISPLAY CLASSES */
/*ftlistHeader
 Defines properties for the featured lists header.*/

 /***********************************************************************************/ 
/* FEEDS DISPLAY CLASSES */
.rssChannelEntries { padding: 10px; }
.rssChannelEntry { padding: 4px; }
.rssChannelEntryDate { font-size: 70%; font-style: italic; }
.rssChannelEntryDesc { font-size: 80%; }
.rssChannelEntryHead { font-size: 85%; font-weight: bold; display: list-item; padding-bottom: 2px; }
.rssChannelImage img { border: 0; margin-top: 2px; }
.rssChannelTitle { font-weight: bold; }
.rssFeed { padding: 5px; margin: 2px; border: 1px solid #3B6EE0; }
.topicFeeds { clear: none; float: right; width: 60%; padding: 5px; }
.topicLinks { clear: none; float: left; padding: 5px; width: 35%; }
.topicLinks ul { padding: 5px; padding-left: 20px; margin: 2px; border: 1px solid #3B6EE0; }

/***********************************************************************************/ 
/* GENERAL CLASSES */
/*errormessage */

/***********************************************************************************/  
/* GLOBAL PATRON DISPLAY CLASSES */
TABLE.patDisplayTable { border: 1px solid #000000; }
TR.patDisplay { border: 1px solid #000000; }
TD.patDisplayFunc { border: 1px solid #000000; }
TD.patDisplayInfo { border: 1px solid #000000; }
patDisplayAuthor
TD.patInfo { }
TD.patImage { }

/***********************************************************************************/ 
/* HOLDINGS DISPLAY CLASSES */
/*holdingscode { }
holdingsDivider { }*/

/***********************************************************************************/ 
/* LIMIT/SORT DISPLAY CLASSES */
/*limitEntriesFoundText { }
limitEntriesFoundNum { }
limitSearchTerm { }
limitSearchTypeIndex { }
limitSearchTypeText { }*/

/***********************************************************************************/  
/* PATRON FUNCTION TABLE AND FORM CLASSES */ 
TABLE.patFuncTable { border: 1px solid #000000; }
TR.patFunc { border: 1px solid #000000; } 
TD.patFuncBookDate { } 
TD.patFuncBtns { } 
TD.patFuncCallNo { } 
TD.patFuncCancel { }
TD.patFuncDate { } 
TD.patFuncEntry { border: 1px solid #000000; }
TD.patFuncFinesDetail { }
TD.patFuncFinesDetailAmt { } 
TD.patFuncFinesDetailDate { } 
TD.patFuncFinesDetailDateLabel { } 
TD.patFuncFinesDetailType { } 
TD.patFuncFinesEntryDetail { border: 1px solid #000000; } 
TD.patFuncFinesEntryTitle { } 
TD.patFuncFinesTitle { border: 1px solid #000000; } 
TD.patFuncFinesTotal { } 
TD.patFuncFinesTotalAmt { }
TD.patFuncFinesTotalLabel { }
TD.patFuncHeaders { }
TD.patFuncMark { }
TD.patFuncModifyPatInfo { }
patFuncModifyPIN { }
patFuncModifyPINExample { }
patFuncNoEntries { }
patFuncPickup { }
patFuncPSrchBtn { }
patFuncPSrchType { }
patFuncRating { }
patFuncStatus { }
patFuncTitle { }

/***********************************************************************************/ 
/* REQUEST DISPLAY CLASSES */
/*on_ice
reqFilltimeMsg */

/***********************************************************************************/ 
/* RESOURCE CLASSES */
TABLE.browseResourceTable { border: solid 1px #BFD0F7; margin-top: 55px; border-width: 1px 1px 1px 1px;}
TD.browseResourceTable { border: none; padding: 4px;}
TR.browseResourceTableEntry { padding: 6px 2px 0px 0px;}
TD.browseResourceTableEntry { }
.browseResourceTableHeader { background-color: #fff;  color: #003399; font-weight: bold; }
.browseResourceTableEntry .wblinkdisplay { font-family: arial; padding: 0px 0px 0px 0px; }
.browseResourceTableEntry .wblinkdisplay div { padding-top: 12px;}
.browseResourceTableEntry span img { text-align: middle;}

/***********************************************************************************/ 
/* SPELLCHECK */
.spellcheckTool { font-size: medium; text-align: left; color: #333379; }
.spellcheckToolMore { font-size: 14px; }

/***********************************************************************************/ 
/* WEBBRIDGE DISPLAY CLASSES */
/* NOTE: Only lowercase letters are allowed in the names of WebBridge display classes.*/ 
.wbbody { text-align: left; font-family: verdana; font-size: 12px;} /*div -- the resource panel body */
.wbfooter {margin-left: 25%;} /*div */
.wbbody h1 {font-size: 14px;} /*main header*/
h1 {text-align: right; margin:0px;}
h1 span#libraryHeaderText {padding-right: 400px;}
h1 span#libraryLogo, span#libraryLogo img {left: 100%; text-align: right; vertical-align: top;}
.wbresourceList {} /*div -- wraps the entire list*/
.wbcategory {background-color:#BFD0F7; margin-top: 6px; padding-top: 4px; border-style: solid; border-color: #003399 #ccc #ccc #ccc; border-width: 2px 1px 1px 1px;}
 	/*div -- wraps each category name*/
.wbpanelcategory {font-weight: bold;} /*span--spans the text of each category name*/
.wblinkdisplay { font-family: arial; padding: 6px 0px 2px 0px; border-bottom: dotted 1px #BFD0F7;;} /*div -- wraps each resource, not the buttons*/
.wblinkfield {font-weight: bold;} /*span -- spans the object description text (search terms, title, etc.), i.e. the result of the field selector*/
.wblinktext {} /*span -- spans the link text*/
.wblinktext a {text-decoration: none; font-weight: bold;}
.wbheading { }
.wbsubheading { }
/***********************************************************************************/ 

/* table striping styles */
/* for brief citation */
td.odd { background:#E2E2E2; }
/*td.highlight {background:#FFFFDF;}*/

/* for browse entries */
tr.odd { background:#E2E2E2; }
/*tr.highlight {background:#FFFFDF;}*/

/* for INN-Reach button */

#innreachButton {margin-top:1em;}

/*Texting Feature Style */

#smsfeatures {
    text-align:center;
    margin:2em;
}

#info, #sms {
       border:1px solid #36647b;
       position:absolute;
       top:250;
       left:50; 
       z-index:1000;
       background:#fff;
       padding:10px;
       margin:10px;
       background:#efefcf;
}

#sms .eg {
       font-style:italic;
       font-size:80%;
}

#info {top:500}

#sms {font-size:70%}
