body { font-size:95%; }

.briefcitDetail, .briefcitAuthDetail {
    width: 80%;
}

.briefcitJacket {
    width:0px;
}

.topLogo {
    height:119px;
}

.topLogoSmall {
    position: absolute;
    left:0;
    top:17px;
}

.arthurLogo {
    position:absolute;
    width:250px;
    left:38%;
    top:5px;
}

#rightCol {
    font-size:16px;
}