.topLogo {
    height:131px;
}

.topLogoSmall {
    position: absolute;
    left:0;
}

.arthurLogo {
    position:absolute;
    width:250px;
    left:36%;
    top:5px;
}

.mobiusLogoSmall {
    top:23px;
}

.tipsTable {
    margin-right:20px;
}